/* vim: set ts=4 sw=4 noet : */
body {
	/* background-color: #F4F4F4; */
	background-image: url("/static/img/swirl_pattern.png");
}
#landing {
	padding-bottom: 2em;
}
.logo {
	display: block;
	margin: 0 auto;
	width: 150px;
}
.db-name {
	text-transform: uppercase;
}
.lnav {
	background-color: #FFF;
	position: fixed;
	height: 100%;
	width: 200px;
	-webkit-box-shadow: 3px 0 2px rgba(0,0,0,.07);
	box-shadow: 3px 0 2px rgba(0,0,0,.07);
}
.record {
	padding-top: 0;
	font-family: Monaco,"Lucida Console",Courier,monospace;
	font-size: 1em;
	margin: 0;
}
.small-record {
	max-width: 350px;
	text-overflow: ellipsis;
	overflow: hidden;
}
.lnav > ul > li > a {
	text-decoration: none;
}
.lnav-section {
	text-decoration: underline;
}
.main {
	padding-top: 6em;
	margin-left: 200px;
	height: 100%;
}
.info-block {
	padding: 2em;
	width: 90%;
	display: block;
	position: relative;
	margin: 0 auto;
	background-color: #FFF;
	border: solid 1px #D7D7D7;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}
.copyright {
	font-size: 14px;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	text-align: center;
}
