<!DOCTYPE html>
<html>
	<head>
		<title>Mayo Workbench - xXx @DB_NAME xXx - xXx @RECORD xXx</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" media="all" href="/static/css/furtive.css" />
		<link rel="stylesheet" media="all" href="/static/css/main.css" />
	</head>
	<body>
		xXx @LNAV xXx
		<div class="main">
			<div class="grd">
				<div class="row">
					<article class="info-block">
						<div class="grd">
							<div class="row">
								<div class="col-3">
									<a href="/data">&laquo; Back</a>
								</div>
								<div class="col-3">
									<code class="small-record">xXx @RECORD xXx</code>
								</div>
							</div>
						</div>
						<div class="grd">
							<div class="row">
								<label for="value">Value</label>
								<textarea>xXx @VALUE xXx</textarea>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
	</body>
</html>
<!-- vim: noet ts=4 sw=4:
-->
