<!DOCTYPE html>
<html>
	<head>
		<title>Mayo Workbench</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" media="all" href="/static/css/furtive.css" />
		<link rel="stylesheet" media="all" href="/static/css/main.css" />
	</head>
	<body>
		<nav class="lnav grd">
			<div class="row">
				<div class="col-6">
					<h4>OlegDB</h4>
					<span class="lnav-section">Mayo Workbench</span>
					<ul>
						<li><a href="/">Overview</a></li>
						<li><a href="#">Data</a></li>
					</ul>
					<span class="lnav-section">OlegDB</span>
					<ul>
						<li><a href="https://olegdb.org/docs/0.1.5/en/documentation.html">Documentation</a></li>
					</ul>
				</div>
			</div>
			<p class="copyright">&copy;2015 Quinlan Pfiffer</p>
		</nav>
		<div class="main">
			<div class="grd">
				<div class="row">
					<article class="info-block">
						<h4>WAIFU</h4>
						<p>This is a test of the belittled battlefield function.</p>
					</article>
				</div>
			</div>
		</div>
	</body>
</html>
<!-- vim: noet ts=4 sw=4:
-->
